
// COLOR SCHEME
$clr-primary: #283842;
$clr-primary-lighter: #354854;
$clr-primary-darker: #1d2930;
$clr-primary-faded: #283842c0;

$clr-secondary: teal;

$clr-text1: rgb(58, 58, 58);
$clr-text2: rgb(195, 192, 192);


// FONT SIZES
$fs-sml: 1rem;
$fs-med: 1.4rem; 
$fs-lrge: 2rem;
$fs-xlrge: 2.5rem;
$page-title: 3.5rem;
$hero-title: 4.5rem;


// FONT WEIGHT
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 600;
$fw-5: 900;



// FONT FAMILY
$ff-main:'Inter Tight', sans-serif;


// SIZES
$mobile: 560px;
$tablet: 1360px;
$laptop: 1800px;
